#   list.....and..its default functions

In [1]:
lst=["kalyani","btech","gctc"]
lst

['kalyani', 'btech', 'gctc']

In [2]:
lst[0]

'kalyani'

In [3]:
lst[1]

'btech'

In [4]:
lst[2]

'gctc'

In [5]:
lst.append("3rd year")

In [6]:
lst

['kalyani', 'btech', 'gctc', '3rd year']

In [7]:
lst.index("kalyani")

0

In [8]:
lst1=lst.copy()
lst1

['kalyani', 'btech', 'gctc', '3rd year']

In [9]:
lst1.append("gctc")
lst1

['kalyani', 'btech', 'gctc', '3rd year', 'gctc']

In [10]:
lst1.count("gctc")

2

In [11]:
lst.extend("kalyani")
lst

['kalyani', 'btech', 'gctc', '3rd year', 'k', 'a', 'l', 'y', 'a', 'n', 'i']

In [12]:
lst.insert(2,"cgpa")
lst

['kalyani',
 'btech',
 'cgpa',
 'gctc',
 '3rd year',
 'k',
 'a',
 'l',
 'y',
 'a',
 'n',
 'i']

In [13]:
lst.pop()

'i'

In [14]:
lst

['kalyani', 'btech', 'cgpa', 'gctc', '3rd year', 'k', 'a', 'l', 'y', 'a', 'n']

In [15]:
lst.reverse()
lst

['n', 'a', 'y', 'l', 'a', 'k', '3rd year', 'gctc', 'cgpa', 'btech', 'kalyani']

In [16]:
lst.sort()
lst

['3rd year', 'a', 'a', 'btech', 'cgpa', 'gctc', 'k', 'kalyani', 'l', 'n', 'y']

# dictionaries...and..its default functions

In [269]:
d={"name":"abhi","age":17,"std":12}
d

{'name': 'abhi', 'age': 17, 'std': 12}

In [270]:
d1=d.copy()
d1

{'name': 'abhi', 'age': 17, 'std': 12}

In [271]:
d1.clear()
d1

{}

In [272]:
d1=d1.fromkeys("school")
d1

{'s': None, 'c': None, 'h': None, 'o': None, 'l': None}

In [273]:
d1=d.get("name")
d1

'abhi'

In [274]:
d.items()

dict_items([('name', 'abhi'), ('age', 17), ('std', 12)])

In [275]:
d.keys()

dict_keys(['name', 'age', 'std'])

In [276]:
d.pop("name")

'abhi'

In [277]:
d

{'age': 17, 'std': 12}

In [278]:
d.popitem()

('std', 12)

In [279]:
d

{'age': 17}

In [280]:
d.setdefault("name")

In [286]:
d

{'age': 17, 'name': None}

In [288]:
d.values()

dict_values([17, None])

In [298]:
d.update()

In [300]:
d.items()

dict_items([('age', 17), ('name', None)])

# sets ...and its default functions

In [423]:
s={"kalyani","abhilash","rajitha",3,1.2,3,1,1}
s

{1, 1.2, 3, 'abhilash', 'kalyani', 'rajitha'}

In [424]:
s.add(4)
s

{1, 1.2, 3, 4, 'abhilash', 'kalyani', 'rajitha'}

In [425]:
s1=s.copy()
s1

{1, 1.2, 3, 4, 'abhilash', 'kalyani', 'rajitha'}

In [426]:
s1.clear()
s1

set()

In [427]:
s.discard(4)
s

{1, 1.2, 3, 'abhilash', 'kalyani', 'rajitha'}

In [428]:
s1={1,4,3,"kalyani","kamalakar"}

In [429]:
s.difference(s1)

{1.2, 'abhilash', 'rajitha'}

In [430]:
s1.difference(s)

{4, 'kamalakar'}

In [431]:
s1.difference_update(s)
s1

{4, 'kamalakar'}

In [432]:
s1={1,4,3,"kalyani","kamalakar"}
s.intersection(s1)

{1, 3, 'kalyani'}

In [433]:
s1.intersection_update(s)
s1

{1, 3, 'kalyani'}

In [434]:
s1={1,4,3,"kalyani","kamalakar"}
s.isdisjoint(s1)

False

In [435]:
s.issubset(s1)

False

In [437]:
s1={1,3,"kalyani"}
s.issuperset(s1)

True

In [438]:
s1.pop()
s1

{3, 'kalyani'}

In [442]:
s1.remove(3)
s1

{'kalyani'}

In [445]:
s1.add("kamalakar")
s1.symmetric_difference(s)

{1, 1.2, 3, 'abhilash', 'kamalakar', 'rajitha'}

In [446]:
s1.symmetric_difference_update(s)

In [447]:
s1

{1, 1.2, 3, 'abhilash', 'kamalakar', 'rajitha'}

In [448]:
s1.union(s)

{1, 1.2, 3, 'abhilash', 'kalyani', 'kamalakar', 'rajitha'}

In [449]:
s1.update(s)

In [450]:
s1

{1, 1.2, 3, 'abhilash', 'kalyani', 'kamalakar', 'rajitha'}

# tuple

In [472]:
t=("abhilash",463,96.6,463)
t

('abhilash', 463, 96.6, 463)

In [475]:
t.count(463)

2

In [474]:
t.index(463)

1

# strings

In [794]:
st="     happy birthday {karthik} "
st

'     happy birthday {karthik} '

In [795]:
st=st.capitalize()
st

'     happy birthday {karthik} '

In [796]:
st.casefold()

'     happy birthday {karthik} '

In [797]:
st.count("happy")

1

In [798]:
st.encode()

b'     happy birthday {karthik} '

In [799]:
st.endswith("karthik")

False

In [800]:
st.expandtabs(4)

'     happy birthday {karthik} '

In [801]:
st.find("karthik")

21

In [802]:
st.format(karthik="kavya")

'     happy birthday kavya '

In [803]:
st.index("birthday")

11

In [804]:
st.isalnum()

False

In [805]:
st.isalpha()

False

In [806]:
st.isascii()

True

In [807]:
st.isdecimal()

False

In [808]:
st.isdigit()

False

In [809]:
st.isidentifier()

False

In [810]:
st.islower()

True

In [811]:
st.isnumeric()

False

In [812]:
st.isprintable()

True

In [813]:
st.isspace()

False

In [814]:
st.istitle()

False

In [815]:
st.isupper()

False

In [816]:
st1="raju"
st.join(st1)

'r     happy birthday {karthik} a     happy birthday {karthik} j     happy birthday {karthik} u'

In [817]:
st.lower()

'     happy birthday {karthik} '

In [821]:
st.lstrip()

'happy birthday {karthik} '

In [831]:
st.partition("happy")

('     ', 'happy', ' birthday {karthik} ')

In [838]:
st.replace("happy","hello")

'     hello birthday {karthik} '

In [851]:
st.rfind("happy")

5

In [850]:
st.rindex("happy")

5

In [860]:
st.rpartition("happy")

('     ', 'happy', ' birthday {karthik} ')

In [861]:
st.rsplit()

['happy', 'birthday', '{karthik}']

In [862]:
st.rstrip()

'     happy birthday {karthik}'

In [863]:
st.split()

['happy', 'birthday', '{karthik}']

In [864]:
st.splitlines()

['     happy birthday {karthik} ']

In [868]:
st.startswith(" ")

True

In [869]:
st.strip()

'happy birthday {karthik}'

In [870]:
st.swapcase()

'     HAPPY BIRTHDAY {KARTHIK} '

In [871]:
st.title()

'     Happy Birthday {Karthik} '

In [879]:
st.upper()

'     HAPPY BIRTHDAY {KARTHIK} '

In [887]:
st.zfill(15)

'     happy birthday {karthik} '